---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/USDEUR%3DX?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"EUR","symbol":"USDEUR=X","exchangeName":"CCY","instrumentType":"CURRENCY","firstTradeDate":1070236800,"regularMarketTime":1704139200,"gmtoffset":0,"timezone":"UTC","exchangeTimezoneName":"UTC","regularMarketPrice":0.9123,"chartPreviousClose":0.9145,"previousClose":0.9145,"scale":4,"priceHint":4},"timestamp":[1704067200],"indicators":{"quote":[{"open":[0.9145],"high":[0.9156],"low":[0.9098],"close":[0.9123],"volume":[0]}],"adjclose":[{"adjclose":[0.9123]}]}}],"error":null}}'
  recorded_at: Tue, 02 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
